/node_modules
/public/hot
/public/storage
/public/reports
/public/export
/public/uploads
/public/certificates
/storage/*.key
/vendor
kpmg-meeting-api.zip
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage
